<footer class="footer">
  <div class="footer-content">

    <div class="footer-column">
      <h4>Title</h4>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
    </div>

    <div class="footer-column">
      <h4>Title</h4>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
    </div>

    <div class="footer-column">
      <h4>Title</h4>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
    </div>

    <div class="footer-column footer-info">

      <div class="social-section">
        <h4>Síguenos en</h4>
        <div class="social-icons">
          <a href="#" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="#" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="book-section">
        <h4>Libro de reclamaciones</h4>

        <img
          src="assets/images/book.png"
          alt="Libro de Reclamaciones"
          class="claim-book"
          width="96"
          height="56"
        />
      </div>

      <div class="store-section">
        <ui-text>Descarga nuestra app en</ui-text>
        <div class="store-buttons">
            <ui-button type="secondary" text-color="#354159" has-icon="true" icon-name="google" label="Google Play"></ui-button>
            <ui-button type="secondary" text-color="#354159" has-icon="true" icon-name="apple" label="App Store"></ui-button>
        </div>
      </div>

    </div>

  </div>

  <div class="footer-bottom">
    Copyright © Inkafarma 2026 Todos los derechos reservados
  </div>
</footer>