.product-list-page {
    padding: 24px;

    .products-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
        gap: 28px;
        width: 100%;
    }
}