<div class="product-card">
    <div class="product-image-container" (click)="onClick()">
        <img width="248" height="248" [ngSrc]="product.image" alt="Toallitas Húmedas Huggies" class="product-image" />
    </div>
    <div class="product-content">
        <div class="product-description">
            <ui-text size="text-caption" color="text-slate-gray"> BOLSA 80 UN</ui-text>
            <h3 class="product-title">
                {{product.name}}
            </h3>
        </div>
        <div class="product-services">
            <ui-tag label="Te puede interesar"></ui-tag>
            <ui-tag label="Inkafarma" background-color="#F5F5F5" text-color="text-slate-gray" icon-name="inkafarma"></ui-tag>
        </div>
        <div class="product-prices">
            <div class="price">
                <ui-text>{{product.price | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</ui-text>
                <div class="tags"></div>
            </div>
            <div class="price">
                <ui-text>{{product.price | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</ui-text>
                <div class="tags">
                    <ui-badge background-color="#354159"></ui-badge>
                </div>
            </div>
            <div class="price">
                <ui-text>{{product.price | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</ui-text>
                <div class="tags">
                    <ui-badge></ui-badge>
                </div>
            </div>
        </div>
        <div class="product-actions">
            <ui-button label="Agregar al carrito" (click)="addToCart()"></ui-button>
            <ui-icon-button background-color="#EDF8F2" icon-color="#17A15B"></ui-icon-button>
        </div>
    </div>
</div>